
/* reviews/index =============================== */

.index-item {
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}

.review-index {
  margin: 10px 0;
  padding: 20px 30px;
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
  width: 100%;
}

.review-user {
  width: 10%;
  margin-top: 0px;
  margin-bottom: 15px;
  padding: 10px 10px;
  display: table;
}

.review-index .review {
  margin: 10px 0;
}

/* reviews/:book_id/new ================================= */

.create-button {
  float: right;
}

.destroy-btn {
  width: 50px;
  margin: -65px 32px 0 0;
  float: right;
  z-index: 1;
}

/* reviews/:book_id/edit ================================= */

.update-button .btn {
  float: right;

  
}
.destroy-button .btn {
  margin-right: 10px;
  float: right;
  border: none;

  
}

/*reviews/:id/=====================================*/

.review-content {
  width: 100%;
  height: 200px;
  margin-top: 0px;
  margin-bottom: 15px;
  padding: 10px ;
  background-color: white;
  border-radius: 5px;
  border: solid 1px #a2b6c4;
}


.review-content_title {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 15px;
  padding: 10px 10px;
  background-color: white;
  border-radius: 5px;
  border: solid 1px #a2b6c4;
}


.books_img {
  width: 80px;
  height: 80px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  margin: 20px 0 5px 0;
  object-fit: cover;
}

.create-button {
  margin: 0;
}
.edit-button {
  margin: 0;
  float: right;
  padding-right: 5px;
}


.book-show {
  margin-bottom: 30px;
}

.book_img {
  display: inline-block;
  box-shadow: 0 0 8px #bac0c4;
}

.book_info {
  position:absolute;
  display: inline-block;
  margin: 0px 0px 0px 10px;
}

.other-review-button {
  float: right;
}