<div class="main edit">
  <%= form_tag("/reviews/#{params[:id]}/update") do %>
  
  <% @review.errors.full_messages.each do |message| %>
      <%= message %>
  <% end %>
  
  
    <label for>まとめタイトル</label>
    <textarea name="content_title" class="form-control"　row="1"><%=@review.content_title %></textarea>
  
    <label for>まとめ本文</label>
    <textarea name="content" class="form-control"　row="8"><%=@review.content%></textarea>
    
    <input type="submit" value="作成" button type="button" class="btn btn-primary" ></button>
  <% end %>
</div>