<div class="main index"> 
  <div class="container">
    <h1>書評</h1>
    
      <% @reviews.each do |review| %>
        <div class="index-item">
          <ul><%= link_to("#{review.content_title}","/reviews/#{review.id}") %></ul>
        </div>
      <% end %>
    
  </div>
</div>


