<header>
    <div class="header-logo">
        <%= link_to("Books One","/") %>
    </div>
    <ul class="header-menus">
      <li><%= link_to("本の一覧","/books/index")%></li>
      <li><%= link_to("本を検索","/books/search")%></li>
    </ul>
</header>
